snippet	env "General TeX environment" bA
\begin{${1:proof}}
    $0
\end{$1}
endsnippet

snippet mk "Inline math: $...$" wA
$${1}$`!p
if t[2] and t[2][0] not in [',', '.', '?', '-', ' ']:
    snip.rv = ' '
else:
    snip.rv = ''
`$2
endsnippet

snippet dm "Display math" wA
\[
$1
.\] $0
endsnippet
